body {
	background:url(asset-path('laptop-background.jpg')) no-repeat;
  background-size: cover;
}

a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}

.errors {
	padding-left: 2%;
	border: 3px solid red;
	color: red;
	background-color: #ffffff;
	margin-bottom: 2%;
}

.repin {
	font-family: 'Lobster', cursive;
  	color: #dd5566;
	font-size: 20px;
	margin-top: 10px;
}

.wrong_user {
	float: right !important;
}